---
# Enable services
enable_zigbee2mqtt: 'no'
enable_homeassistant: 'no'
# To do: NGINX may not work correctly without certbot at this stage due to the conf files having certs listed
enable_nginx: 'yes'
enable_certbot: 'yes'
enable_cups: 'yes'
enable_adguard: 'yes'
enable_tailscale: 'yes'

enable_ruckus_proxy: 'yes'
enable_erx_proxy: 'yes'

install_bluetooth: 'yes'
install_docker: 'yes'

# Docker networking info
global_ipv4: 10.10.10.220
global_ipv6: fd2e:a775:400f:4b18:dea6:32ff:fe66:1521
ipv6_prefix_for_docker: fd2e

# Domain for cert and reverse proxying
domain: domain.tld

# Certbot credentials
certbot_email: me@domain.tld
certbot_digitalocean_token: dop_v1_abcdefghijklmnopqrstuvwxyz1234567890

# Tailscale
tailscale_auth_key: tskey-auth-abcdefghijklmnopqrstuvwxyz1234567890
tailscale_args: --advertise-exit-node --accept-dns=false --advertise-routes=10.10.10.220/32

# Ruckus IP for the management IF of you WAP
ruckus_ip: 10.10.10.240

# ERX IP
erx_ip: 10.10.10.1

# Homeassistant
homeassistant_image: homeassistant/home-assistant:2021.12.9

# Homeassistant config custom block
homeassistant_custom_block: |

# Zigbee2Mqtt
zigbee2mqtt_image: koenkk/zigbee2mqtt:1.28.4
mosquitto_image: eclipse-mosquitto:2.0

# zigbee2mqtt config custom block for advanced flags
zigbee2mqtt_custom_block: |


# AdGuard config file
adguard_docker_image: adguard/adguardhome:v0.107.20

# AdGuard custom block for config file
adguard_custom_block: |