version: '3.8'
services:
  adguard:
    container_name: adguard
    image: {{ adguard_docker_image }}
    volumes:
      - ./adguard-work:/opt/adguardhome/work
      - ./adguard-conf:/opt/adguardhome/conf
    restart: unless-stopped
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
#    networks:
#      adguard:
#        ipv4_address: 10.10.10.231

#networks:
#  adguard:
#    driver: macvlan
#    ipam:
#      config:
#        - subnet: 10.10.10.0/24
#          gateway: 10.10.10.1
#    driver_opts:
#      parent: "eth0"