{{ global_ipv4 }} pihole.{{ domain }}
{{ global_ipv4 }} cups.{{ domain }}
{{ global_ipv4 }} homebridge.{{ domain }}
{{ global_ipv4 }} z2m.{{ domain }}
{{ global_ipv4 }} ha.{{ domain }}
{{ global_ipv4 }} ruckus.{{ domain }}
