# Docker-Compose makes the MQTT-Server available using "mqtt" hostname
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://mqtt
# Zigbee Adapter path
serial:
  port: /dev/ttyUSB0

# Optional: Home Assistant integration (MQTT discovery) (default: false)
homeassistant: true

# Enable the Zigbee2MQTT frontend
frontend:
  port: 8082
  url: 'https://z2m.{{ domain }}'
# Let Zigbee2MQTT generate a new network key on first start
# Your advanced section can be populated using zigbee2mqtt_custom_block in the vars file